{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Log in -->
<section id="log-in" class="h-100 container-fluid justify-content-center d-flex flex-column pb-5">
    <h1 class="text-center">Log In</h1>
    <hr class="w-25">
    <div class="row">
        <form class="w-50 col-10 offset-1 col-lg-6 offset-lg-3" method="POST">
            {% csrf_token %}
            {{ authentication_form | crispy }}
            <input class="col-4 offset-4 my-2 btn btn-info" type="submit" value="Log In"></input>
        </form>
    </div>
</section>
{% endblock content %}