{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Display page for 403 CSRF errors-->
<div class="h-100 container-fluid justify-content-center d-flex flex-column pb-5">
    <p class="text-center text-muted">403: CSRF verification failed.</p>
    <h1 class="text-center">
        We couldn't submit your information.
        <i class="fa-solid fa-heart-crack mx-3"></i>
    </h1>
    <p class="text-center">
        There was a security issue and we had to abort this process - sorry.<br>
        This problem may occur if you log into a different
        account on another tab.
        <br>
        Take me back <a href="{% url -'home' %}">home</a>.
    </p>

</div>
{% endblock content %}