{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="d-none d-lg-flex col-lg-5 align-items-center justify-content-center">
            <img class="object-fit-contain img-fluid rounded mx-auto w-auto vh-75 m-4" width="4300" height="6500"
            src="{% static 'images/stacked_books.webp' %}" alt="A stack of books.">
        </div>
        <!-- About us main article -->
        <article class="col pr-lg-5 d-flex justify-content-center flex-column">
            <div>
                <h1 class="text-center pt-3">About Us</h1>
                <hr class="w-75">
            </div>
            <p class="text-center">
                OnlineBookReader is a site for reading books. Provide us with a link to a text file, 
                and we will split it into easily digestable pages. We'll save your current books, 
                and keep track of your reading position.
                <br><br>
                OnlineBookReader does not provide books, we simply present them. 
                The best place to find free, well-formatted 
                books in the public domain is
                <a class="text-decoration-underline" href="https://www.gutenberg.org/browse/scores/top" 
                target="_blank">Project Gutenberg</a>, 
                a site designed with the mission statement of making public domain books easily accessible
                    - our site was designed with these books in mind.
                <br><br>
                OnlineBookReader is not designed for books outside of the public domain, 
                and encourages all users to check they are complying with their country's 
                copyright law at all times. OnlineBookReader does not filter hate speech or 
                adult language from books, so choose books at your own discretion and risk.
            </p>
            <hr class="w-75">
            <!-- C.S Lewis Quote -->
            <blockquote class="blockquote text-center mx-3">
                <p class="mb-2 lead">
                    “You can never get a cup of tea large enough or a book long enough to suit me.”
                </p>
                <footer class="blockquote-footer">C.S Lewis</footer>
            </blockquote>
        </article>
    </div>
</div>
{% endblock content %}