{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <!-- Add book -->
        <section id="add-book-screen" class="justify-content-center d-flex flex-column col-lg-6 mt-3 mb-3 mb-lg-0">
            <h1 class="text-center">Add a new book</h1>
            <hr class="w-75">
            <p>
                Enter a URL to a text file hosted online to add it as a book.
                We recommend <a class="text-decoration-underline" href="https://www.gutenberg.org/" target="_blank">
                Project Gutenberg</a> as a good place to find free, public domain books. 
                Here are their current top 100 books in English: 
                <a class="text-decoration-underline" href="https://www.gutenberg.org/browse/scores/top-en.php" target="_blank">
                Gutenberg Top 100</a>.
                Simply:
                <ol>
                    <li>Click a book.</li>
                    <li>Under 'choose how to read this book', click 'Plain Text UTF-8'.</li>
                    <li>Copy the URL in your browser's address bar and paste it here.</li>
                </ol>
                Books can be accessed elsewhere but formatting may vary and OnlineBookReader may be less successful at
                tasks like automatic title and author generation.
            </p>
            <hr class="w-75">
            <form id="add-book_form" class="row" method="POST">
                {% csrf_token %}
                <div class="form-group form-inline w-100 justify-content-center">
                    <label for="url">URL</label>
                    <input type="url" class="form-control w-75 mx-3" id="url" name="url" aria-describedby="url"
                     placeholder="Your book's URL">
                </div>
                <input class="col-4 offset-4 my-2 btn btn-info" type="submit" value="Add book"></input>
            </form>
        </section>
        <!-- Image div -->
        <div class="d-none d-lg-block col-lg-6 text-center pl-5">
            <img class="img-fluid rounded vh-75 text-center object-fit-contain my-3" width="1300" height="1477" 
            src="{% static 'images/chosen_book.webp' %}" alt="A single book on a shelf.">
        </div>
    </div>
</div>
{% endblock content %}