/* ------- General styles ------- */

body {
    font-family: "Merriweather", serif;
}

a {
    color: #0250C5;
}

.text-muted {
    color: black !important;
}

.text-helper {
    color: #8F0000;
}

.text-decoration-underline {
    text-decoration: underline;
}

.btn-primary {
    background-color: #0250C5;
    border-color: #0250C5;
}

.vh-75 {
    height: 75vh;
  }

.object-fit-contain {
    object-fit: contain;
}

.flex-grow {
    flex: 1 0 auto;
}

.mw-90 {
    max-width: 90%;
}

.w-90 {
    width: 90% !important;
}

/* ------- Styles for dashboard ------- */

.progress-lighten {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  
.progress-darken {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
  
.book > .btn-warning {
    transform: translate(0%, -140%);
}
  
.progress {
    transform: translate(0%, -325%);
}

.rounded-top-0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/* ------- Styles for star ratings ------- */

.pointer {
    cursor: pointer;
}

/* ------- Styles for reader ------- */

#page {
    display: flex;
    flex-direction: column;
}

#book-holder {
    text-align: center;

}

#book-text {
    height: 65vh;
    width: 90vw;
    overflow: hidden;
    word-break: break-all;
    /* Double monospace to account for known
    monospace on oddities on some browsers 
    https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966
    */
    font-family: monospace, monospace;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    max-width: 100%;
}

#spin-holder {
    width: 50%;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page-info {
    height: 10vh;
}

#page-counter {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#page-counter * {
    margin: 0 10px 0 10px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #book-text {
        font-size: 18px;
    }
}