{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="reader">
<div id="book-holder">
    <p data-book-id="{{ book_id }}" data-csrf-token="{{ csrf_token }}" data-ajax-url="{% url 'ajax' %}" 
    data-ajax-update-url="{% url 'ajax_update' %}" id="book-text"></p>
</div>
<hr class="w-50">
<div class="page-info mb-1">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h1 id="book-title" class="h4 text-center font-italic mx-2">{{ title }}</h1>
        <button id="bookmark" class="btn btn-warning mx-3 mb-2">Bookmark Page
            <i class="fa-regular fa-bookmark fa-lg ml-2"></i>
        </button>
    </div>
    <div class="page-counter">
        <button id="previous-button" class="btn"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
        <h1 class="h2" id="page-number" data-page-number='none' data-progress="{{ progress }}">Page 1 of Loading...</h2>
        <button id="next-button" class="btn"><i class="fa-solid fa-arrow-right fa-2xl"></i></button>
    </div>
</div>
</div>
{{ text_list|json_script:"text_list_json"}}
<script type="module" src="{% static 'js/reader/reader.js' %}"></script>
{% endblock content %}