{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock head %}

{% block content %}
<section id="page">
    <div id="book-holder">
        <!-- Loading spinner for ajax waiting times -->
        <div id="spin-holder">
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Main page text -->
        <p data-book-id="{{ book_id }}" data-ajax-url="{% url 'ajax' %}"
        id="book-text" data-ajax-update-url="{% url 'ajax_update' %}">
        </p>
    </div>
    <hr class="w-50">
    <!-- Page info and buttons -->
    <div class="page-info mb-1">
        <div id="title-and-bookmark" class="d-flex flex-row justify-content-center align-items-center">
            <h1 id="book-title" class="h4 text-center font-italic mx-2">{{ title }}</h1>
            <button id="bookmark" data-clicked="false" class="btn btn-warning mx-3 mb-2" disabled>
                Bookmark Page
                <i class="fa-regular fa-bookmark fa-lg ml-2"></i>
            </button>
        </div>
        <div id="page-counter">
            <button disabled id="previous-button" aria-label="Previous Button" class="btn">
                <i class="fa-solid fa-arrow-left fa-2xl"></i>
            </button>
            <h1 class="h4" id="page-number" data-page-number='none' data-progress="{{ progress }}">
                Page 1 of ?
            </h2>
            <button disabled id="next-button" aria-label="Next Button" class="btn">
                <i class="fa-solid fa-arrow-right fa-2xl"></i>
            </button>
        </div>
    </div>
</section>
{{ text_list|json_script:"text_list_json"}}
<script type="module" src="{% static 'js/reader/reader.js' %}"></script>
{% endblock content %}